<article class="">
  <h1>Equipos</h1>

  <ul class="list">
    <% @teams.each do |team| %>
    <li class="item">
      <div class="main name"><%= team.name %></div>

      <div class="actions">
        <%= link_to edit_team_path(team), class: 'btn-med' do %>
          <%= icon 'pencil' %><span>Editar</span>
        <% end %>

        <%= link_to team, method: :delete, class: 'btn-med btn-danger' do %>
          <%= icon 'delete' %><span>Borrar</span>
        <% end %>
      </div>
    </li>
    <% end %>
  </ul>

  <%= link_to 'Nuevo Equipo', new_team_path, role: 'button' %>
</article>
