<p id="notice"><%= notice %></p>

<h1>Equipos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Editar', edit_team_path(team) %></td>
        <td><%= link_to 'Eliminar', team, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Equipo', new_team_path %>
