<%= link_to 'Ingresa con Facebook', '/auth/facebook', class: 'facebook' %>

<%= form_for :session do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <%= f.button 'Acceder' %>
<% end %>
<%= link_to 'Crea una cuenta', register_path %>
