<article class="small">
  <h1>Editar Apuestas</h1>
  <%= form_for :bets, url: match_pool_bets_path(@match_pool), method: :patch do |b| %>

    <% @bets.each do |b|  %>

    <table class="match">
      <tr>
        <th width="60"></th>
        <th></th>
        <th width="60">A</th>
      </tr>

      <%= fields_for 'bets[]', b do |bet| %>
      <tr>
        <td rowspan="2" class="when">
          <div><%= b.match.month %></div>
          <div class="date"><%= b.match.date %></div>
          <div><%= b.match.time %></div>
        </td>
        <td class="team"><%= b.match.home_team.name %></td>

        <td><%= bet.number_field :home, pattern: '\d*' %></td>
      </tr>

      <tr>
        <td class="team"><%= b.match.away_team.name %></td>
        <td><%= bet.number_field :away, pattern: '\d*' %></td>
      </tr>
      <% end %>
    </table>

    <% end %>

    <%= b.button %>
  <% end %>

</article>
