<%= form_for :bets, url: match_pool_bets_path(@match_pool), method: :patch do |b| %>

  <% @bets.each do |b|  %>

  <table>
    <tr>
      <th colspan="2"></th>
      <th>A</th>
    </tr>

    <%= fields_for 'bets[]', b do |bet| %>
    <tr>
      <td rowspan="2">
        <span><%= b.match.date %></span>
        <span><%= b.match.time %></span>
      </td>
      <td><%= bet.label :home, b.match.home_team.name %></td>

      <td><%= bet.number_field :home %></td>
    </tr>

    <tr>
      <td><%= bet.label :away, b.match.away_team.name %></td>
      <td><%= bet.number_field :away %></td>
      <td></td>
    </tr>
    <% end %>
  </table>

  <% end %>

  <%= b.button %>
<% end %>
