<%= link_to 'Regístrate con Facebook', '/auth/facebook', class: 'facebook' %>

<p class="divider">
  <span>ó</span>
</p>

<h2>Crea una cuenta</h2>



<%= form_for @user, url: register_path do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= field_error @user.errors, :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= field_error @user.errors, :email %>
  </div>

  <div class="actions">
    <%= f.button %>
  </div>
<% end %>

<%= link_to 'Ya tienes una cuenta?', login_path %>
