<section class="scoreboard-container">
  <h2>Posiciones</h2>
  <table class="scoreboard">
    <tr>
      <td class="name"><%= current_user.name %></td>
      <td width="80"><%= current_user.score_of(@match_pool) %></td>
    </tr>
  </table>

  <table class="scoreboard">
    <% @scoreboard.each do |score| %>
    <tr>
      <td width="50"><%= score.place %></td>
      <td class="name"><%= score.name %></td>
      <td width="80"><%= score.total %></td>
    </tr>
    <% end %>
  </table>

</section>
