<section class="scoreboard-container">
  <h3><%= current_user.name %>: <%= current_user.score_of(@match_pool) %> puntos</h3>

  <table class="scoreboard">
    <% @scoreboard.each do |score| %>
    <tr>
      <td><%= score.place %></td>
      <td><%= score.name %></td>
      <td><%= score.total %></td>
    </tr>
    <% end %>
  </table>

</section>
