<h2>Partidos</h2>

<% @matches.each do |match| %>
<table>
  <tr>
    <th colspan="2"></th>
    <th>R</th>
    <th>A</th>
    <th>P</th>
    <% if current_user.admin? %>
    <th></th>
    <% if @match_pool.accepts_matches? %>
    <th></th>
    <% end %>
    <% end %>
  </tr>

  <tr>
    <td rowspan="2">
      <span><%= match.date %></span>
      <span><%= match.time %></span>
    </td>
    <td><%= match.home_team.name %></td>

    <td><%= match.home %></td>
    <td><%= match.user_home %></td>
    <td rowspan="2"><%= match&.user_points %></td>

    <% if current_user.admin? %>

    <% unless @match_pool.accepts_bets? %>
    <td rowspan="2"><%= link_to 'Editar', edit_match_pool_match_path(@match_pool, match) %></td>
    <% end %>

    <% if @match_pool.accepts_matches? %>
    <td rowspan="2"><%= link_to 'Eliminar', match_pool_match_path(@match_pool, match),
      method: :delete,
      data: { confirm: 'Estás seguro?'} %></td>
    <% end %>

    <% end %>
  </tr>

  <tr>
    <td><%= match.away_team.name %></td>
    <td><%= match.away %></td>
    <td><%= match&.user_away %></td>
  </tr>
</table>
<% end %>

<br>

<% if @match_pool.accepts_matches? && current_user.admin? %>
<%= link_to 'Nuevo Partido', new_match_pool_match_path(@match_pool) %>
<% end %>
