<%= form_for [@match_pool, match] do |f| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if @match_pool.accepts_matches? %>
  <div class="field">
    <%= f.label :home_team_id %>
    <%= f.collection_select :home_team_id, @teams, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :away_team_id %>
    <%= f.collection_select :away_team_id, @teams, :id, :name %>
  </div>

  <div class="field inline">
    <%= f.label :when %>
    <%= f.datetime_select :when, minute_step: 15, start_hour: 8, end_hour: 16, discard_year: true %>
  </div>
<% end %>

<% if @match_pool.bets_closed_at %>
  <h2>
    <%= match.home_team.name %>
    vs.
    <%= match.away_team.name %>
  </h2>

  <div class="field">
    <%= f.label :home %>
    <%= f.number_field :home %>
  </div>

  <div class="field">
    <%= f.label :away %>
    <%= f.number_field :away %>
  </div>
<% end %>

  <div class="actions">
    <%= f.button %>
  </div>
<% end %>
