<p id="notice"><%= notice %></p>

<h1>Partidos</h1>

<table>
  <thead>
    <tr>
      <th>Cuándo</th>
      <th>Equipo Local</th>
      <th>Equipo Visitante</th>
      <th>Local</th>
      <th>Visitante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.when %></td>
        <td><%= match.home_team.name %></td>
        <td><%= match.away_team.name %></td>
        <td><%= match.home %></td>
        <td><%= match.away %></td>
        <td><%= link_to 'Mostrar', match %></td>
        <td><%= link_to 'Editar', edit_match_path(match) %></td>
        <td><%= link_to 'Eliminar', match, method: :delete, data: { confirm: 'Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Partido', new_match_pool_match_path(@match_pool) %>
