<p id="notice"><%= notice %></p>

<p>
  <strong><%= @match.home_team.name %> </strong>
  vs.
  <strong><%= @match.away_team.name %></strong>
</p>

<p>
  <strong>When:</strong>
  <%= @match.when %>
</p>

<p>
  <strong>Home:</strong>
  <%= @match.home %>
</p>

<p>
  <strong>Away:</strong>
  <%= @match.away %>
</p>



<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
