<article class="small">
  <%= render 'match_pools/top' %>

  <section>
    <table class="match-details big">
      <thead>
        <tr>
          <th width="50%"><%= @match.home_team_name %></th>
          <th width="50%"><%= @match.away_team_name %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @match.home %></td>
          <td><%= @match.away %></td>
        </tr>
      </tbody>
    </table>

    <table class="match-details">
      <tr>
        <th width="33.33333%">Local</th>
        <th width="33.33333%">Empate</th>
        <th width="33.33333%">Visitante</th>
      </tr>
      <tr>
        <td><%= @match.win_proportion %>%</td>
        <td><%= @match.draw_proportion %>%</td>
        <td><%= @match.lose_proportion %>%</td>
      </tr>
    </table>
  </section>

  <h3><%= @match.number_of_bets %> Apuestas</h3>

  <% if @bets %>
  <table class="match">
    <thead>
      <tr>
        <th></th>
        <th width="50">L</th>
        <th width="50">V</th>
      </tr>
    </thead>
    <tbody>
      <% @bets.each do |b| %>
      <tr>
        <td class="team"><%= b.user.name %></td>
        <td><%= b.home %></td>
        <td><%= b.away %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>


</article>
