<%= link_to 'Salir', logout_path %>

<nav>
  <%= link_to 'Quinielas', match_pools_path %>
  <%= link_to 'Equipos', teams_path %>
  <%= link_to 'Usuarios', users_path %>
</nav>

<% if params[:match_pool_id] || @match_pool&.id %>
<h1><%= link_to @match_pool.name, @match_pool %></h1>
<div class="status"><%= @match_pool.status %></div>

<nav>
  <% if @match_pool.accepts_matches? %>
    <%= link_to 'Partidos', match_pool_matches_path(@match_pool) %>
  <% end %>

  <% if @match_pool.accepts_bets? %>
    <%= link_to 'Apuestas', match_pool_users_path(@match_pool) %>
  <% end %>

  <%  %>
</nav>
<% end %>
