<header>
  <nav class="main-links">
    <%= link_to 'Quinielitas', match_pools_path %>

    <%= link_to rules_path do %>
      <%= icon 'book' %>
      <span>Reglas</span>
    <% end %>

    <% if current_user.admin? %>
      <%= link_to teams_path do %>
        <%= icon 't-shirt' %>
        <span>Equipos</span>
      <% end %>

      <%= link_to users_path do %>
        <%= icon 'friends' %>
        <span>Usuarios</span>
      <% end %>
    <% end %>
  </nav>

  <nav class="secondary-links">
    <%= button_tag(type: 'button', class: 'menu-button') do %>
      <%= icon 'menu' %>
      <span>Menú</span>
    <% end %>
    <%= link_to profile_path do %>
      <%= icon 'user' %>
      <span><%= current_user.name %></span>
    <% end %>
    <%= link_to logout_path do %>
      <%= icon 'signout' %>
      <span>Salir</span>
    <% end %>
  </nav>
</header>

<section class="top">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
</section>
