<%= link_to 'Salir', logout_path %>

<nav>
  <%= link_to 'Quinielas', match_pools_path %>
  <%= link_to 'Equipos', teams_path %>
  <%= link_to 'Usuarios', users_path %>
</nav>

<% if params[:match_pool_id] || @match_pool&.id %>
<h1><%= link_to @match_pool.name, @match_pool %></h1>
<% end %>
