<header>
  <nav class="main-links">
    <%= link_to 'Quinielitas', match_pools_path %>
    <% if current_user.admin? %>
    <%= link_to 'Equipos', teams_path %>
    <%= link_to 'Usuarios', users_path %>
    <% end %>
  </nav>

  <nav class="">
    <%= link_to current_user.name, profile_path %>
    <%= link_to 'Salir', logout_path %>
  </nav>
</header>

<section class="top">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <% if params[:match_pool_id] || @match_pool&.id %>
  <%= link_to @match_pool.name, @match_pool, class: 'main-pool' %>
  <% end %>
</section>
