<header>
  <nav class="main-links">
    <%= link_to 'Quinielitas', match_pools_path %>
    <%= link_to 'Equipos', teams_path %>
    <%= link_to 'Usuarios', users_path %>
  </nav>

  <nav class="">
    <%= link_to current_user.name, profile_path %>
    <%= link_to 'Salir', logout_path %>
  </nav>
</header>

<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<% if params[:match_pool_id] || @match_pool&.id %>
<h1><%= link_to @match_pool.name, @match_pool %></h1>
<% end %>
